/* tag { SELETORES
    property: attribute;
} */
/*ordem de propriedades
top, right, bottom, left
top/bottom, right/left
*/
body {
  background-color: rgb(6, 4, 37);
  
}

img {
  image-orientation: from-image;
}

.redtxt {
    color: red;
}

ul {
    list-style-type: none;
}

article {
  font-size: 14px;
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 5%;
  padding: 3%;
  border: 2% solid #1b1b03;
  box-shadow: 4px 4px black;
  border-radius: 7pt;
  background: #483D8B;

}

article ul {
  color: white;
  text-shadow:  1px 1px black;
}

article h3 {
  color: #6495ED;
  text-shadow:  2px 2px #8B008B;
}
  

/*barra de navegação*/
#navbar {
  overflow: hidden;
  background-color: #333;
}


#navbar a {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: left;
  padding: 0px 5px 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

#navbar h1 a, #navbar h1 a:hover {
  color:#91918a;
  background-color: #333;
  font-size: 24px;
  /*padding: 0px 2px; */
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 10px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(31, 31, 31);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 10px;
  color: white;
  border-radius: 7pt;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#btnopen {
  font-weight: bold;
  float: right;
  font-size: 22px;
  color: white;
  background-color: rgb(70, 68, 68);
}

