/* tag { SELETORES
    property: attribute;
} */
body {
  background-color: rgb(4, 3, 29);
  
}


/*conserta a orientação de imagens no firefox*/
img {
  image-orientation: from-image;
}


h1 {
    text-align: center;
}

.redtxt {
    color: red;
}

ul {
    list-style-type: none;
}

.texto {
    width: 80px;
    float: left;
    font-size: 18px;
    font-weight: 700;
    background: #282828;
    color: #f39d9d;
    border: none;
    text-align: center;
    margin: 0px 10px;
}

article {
  width: 60%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px 5%;
  padding: 3%;
  border: 2% solid #1b1b03;
  box-shadow: 4px 4px black;
  border-radius: 7pt;
  background: rgb(21, 14, 70);
  float: left;

}

article ul {
  font-size: 20px;
  color: white;
  text-shadow:  1px 1px black;
}

article h3 {
  font-size: 24px;
  color: rgb(136, 173, 243);
  text-shadow:  2px 2px rgb(0, 65, 90);
}
  
aside {
  color: rgb(235, 183, 255);
  margin: 0px 7% 0px 0px;
  width: 20%;
  padding: 1%;
  border: 1% solid #471174;
  box-shadow: 4px 4px black;
  border-radius: 7pt;
  background: rgb(34, 1, 88);
  float: right;
  
}
aside a {
  text-decoration: none;
  color: rgb(255, 163, 163);
}

aside a:hover {
  text-decoration: underline;
  color: white;
}

aside h3 {
  font-size: 22px;
  color: rgb(185, 102, 245);
  text-shadow:  1px 1px black;
}


.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

#navbar h1 a, #navbar h1 a:hover {
  color:#91918a;
  background-color: #333;
  font-size: 32px;
  padding: 0px 12px; 
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
